## 201710773 박영제

In [1]:
import findspark
findspark.init()
import pyspark
myConf=pyspark.SparkConf()
spark = pyspark.sql.SparkSession.builder\
    .master("local")\
    .appName("myApp")\
    .config(conf=myConf)\
    .getOrCreate()

In [6]:
import urllib
import requests

KEY='73725974496a736c34395757705847'
TYPE='json'
SERVICE='InfoTrdarAptQq'
START_INDEX='0'
END_INDEX='100'
STDR_YY_CD='2021'
params="/".join([KEY,TYPE,SERVICE,START_INDEX,END_INDEX,STDR_YY_CD])
_url='http://openapi.seoul.go.kr:8088'
url=urllib.parse.urljoin(_url,params)
data=requests.get(url)

# 문제 1 시작

# 문제 1-1의 답

In [8]:
print(url)

http://openapi.seoul.go.kr:8088/73725974496a736c34395757705847/json/InfoTrdarAptQq/0/100/2021

# 문제 1-2의 답

In [21]:
seoul=data.json()
resultJson = seoul['InfoTrdarAptQq']['row']
resultJson[1]

{'STDR_YY_CD': '2021',
 'TRDAR_SE_CD': 'D',
 'TRDAR_SE_CD_NM': '발달상권',
 'APT_HSMP_CO': 3.0,
 'AE_66_SQMT_BELO_HSHLD_CO': 157.0,
 'AE_66_SQMT_HSHLD_CO': 0.0,
 'AE_99_SQMT_HSHLD_CO': 0.0,
 'AE_132_SQMT_HSHLD_CO': 0.0,
 'AE_165_SQMT_HSHLD_CO': 0.0,
 'PC_1_HDMIL_BELO_HSHLD_CO': 0.0,
 'PC_1_HDMIL_HSHLD_CO': 157.0,
 'PC_2_HDMIL_HSHLD_CO': 0.0,
 'PC_3_HDMIL_HSHLD_CO': 0.0,
 'PC_4_HDMIL_HSHLD_CO': 0.0,
 'PC_5_HDMIL_HSHLD_CO': 0.0,
 'PC_6_HDMIL_ABOVE_HSHLD_CO': 0.0,
 'AVRG_AE': 31.0,
 'AVRG_MKTC': 161157476.0,
 'STDR_QU_CD': '1',
 'TRDAR_CD': '1001158',
 'TRDAR_CD_NM': '당산역_2'}

# 문제 1-3의 답

In [51]:
Rdd=spark.sparkContext.parallelize(resultJson)

In [84]:
dicRdd = Rdd.collect()
flag = 0
for node in dicRdd:
    print("{:<4}  {:<5}  {:<7}  {:<15}  {:<20}"\
            .format(node['TRDAR_SE_CD_NM'],
            node['APT_HSMP_CO'],
            node['PC_6_HDMIL_ABOVE_HSHLD_CO'],
            node['AVRG_MKTC'],
            node['TRDAR_CD_NM']))
    flag+=1
    if(flag==100):
        break

골목상권  5.0    0.0      150247619.0      동남로82길
발달상권  3.0    0.0      161157476.0      당산역_2
발달상권  1.0    0.0      81750000.0       서울 성북구 안암역
전통시장  37.0   1.0      183067389.0      길동복조리시장
관광특구  71.0   87.0     409473123.0      이태원 관광특구
관광특구  8.0    271.0    237967427.0      동대문패션타운 관광특구
관광특구  5.0    0.0      112097903.0      종로·청계 관광특구
관광특구  22.0   1156.0   527347107.0      잠실 관광특구
골목상권  26.0   22.0     249322039.0      계동길
골목상권  5.0    0.0      87700490.0       난계로27길
골목상권  5.0    0.0      161118305.0      돈화문로11가길
골목상권  41.0   0.0      105457249.0      명륜길
골목상권  41.0   0.0      214023214.0      백석동길
골목상권  3.0    0.0      213246032.0      북촌로11길
골목상권  2.0    2.0      443000000.0      북촌로5길
골목상권  5.0    6.0      430007143.0      북촌로5나길
골목상권  1.0    2.0      572000000.0      삼청로5길
골목상권  12.0   0.0      152368531.0      성균관로5길
골목상권  19.0   0.0      141952840.0      숭인동길
골목상권  100.0  0.0      177741821.0      옥인길
골목상권  1.0    0.0      112279412.0      율곡로16길
골목상권  20.0   0.0      153940955.0      이화장길
골목상권  9.0    0.0      256264683.0      자하문로7길
골목상권  3.0    0.0      81284178.0       종로58가길
골목상권  87.0   0.0      124591950.0      종로65길
골목상권  15.0   0.0      185365873.0      지봉로8길
골목상권  8.0    0.0      142664918.0      창경궁로35길
골목상권  17.0   0.0      107096078.0      창신2길
골목상권  8.0    0.0      95141667.0       창신5길
골목상권  86.0   0.0      116533576.0      창신길
골목상권  50.0   0.0      99746000.0       통일로12길
골목상권  19.0   30.0     309926113.0      평창길
골목상권  14.0   0.0      229306432.0      필운대로1길
골목상권  16.0   33.0     272737678.0      난계로11길
골목상권  9.0    0.0      157574074.0      난계로21길
골목상권  32.0   0.0      153392079.0      다산로33길
골목상권  8.0    0.0      179132297.0      다산로36길
골목상권  10.0   1.0      242063093.0      다산로38길
골목상권  2.0    0.0      176972222.0      다산로39길
골목상권  27.0   0.0      181864758.0      동호로10길
골목상권  150.0  0.0      124396733.0      동호로11길
골목상권  41.0   12.0     208647667.0      동호로15길
골목상권  42.0   43.0     307355149.0      동호로20길
골목상권  18.0   0.0      155018621.0      동호로8길
골목상권  28.0   1.0      184979178.0      장충단로8길
골목상권  33.0   0.0      206531628.0      청구로17길
골목상권  9.0    0.0      189915947.0      청구로1길
골목상권  7.0    0.0      167530465.0      퇴계로12길
골목상권  3.0    0.0      168158730.0      퇴계로18길
골목상권  7.0    0.0      119134454.0      퇴계로46길
골목상권  6.0    0.0      130876389.0      퇴계로56길
골목상권  13.0   0.0      213297572.0      퇴계로8길
골목상권  27.0   0.0      170019584.0      퇴계로90길
골목상권  4.0    0.0      250343750.0      녹사평대로11길
골목상권  10.0   0.0      380352237.0      녹사평대로26길
골목상권  8.0    5.0      382973462.0      녹사평대로32길
골목상권  9.0    13.0     463599167.0      녹사평대로40나길
골목상권  22.0   5.0      291820883.0      녹사평대로46길
골목상권  35.0   84.0     559442404.0      대사관로34길
골목상권  38.0   0.0      294402723.0      두텁바위로1길
골목상권  104.0  16.0     242145926.0      백범로79길
골목상권  11.0   709.0    496683400.0      백범로90길
골목상권  72.0   244.0    662098926.0      서빙고로71길
골목상권  44.0   1.0      200752888.0      소월로20길
골목상권  114.0  4.0      171466325.0      신흥로20길
골목상권  49.0   129.0    614161825.0      우사단로10길
골목상권  15.0   127.0    654105268.0      우사단로14길
골목상권  22.0   12.0     489858622.0      우사단로4길
골목상권  23.0   5.0      269352177.0      원효로19길
골목상권  16.0   0.0      281720858.0      원효로41길
골목상권  40.0   0.0      228417439.0      원효로53길
골목상권  10.0   0.0      215459650.0      원효로89길
골목상권  49.0   10.0     387698359.0      이촌로22길
골목상권  11.0   19.0     483746950.0      이태원로27길
골목상권  30.0   109.0    480723433.0      이태원로54길
골목상권  33.0   106.0    573284176.0      장문로45길
골목상권  14.0   0.0      166160048.0      청파로47길
골목상권  89.0   4.0      220994083.0      청파로47나길
골목상권  122.0  0.0      215433642.0      청파로71길
골목상권  58.0   0.0      219067232.0      청파로73길
골목상권  25.0   240.0    341969048.0      한강대로104길
골목상권  8.0    151.0    457474986.0      한강대로15길
골목상권  3.0    431.0    989166024.0      한강대로43길
골목상권  14.0   1.0      286364302.0      한강대로52길
골목상권  9.0    1.0      364824342.0      한강대로62길
골목상권  6.0    12.0     419996429.0      한강대로7길
골목상권  7.0    58.0     352673085.0      한남대로20길
골목상권  22.0   40.0     349667714.0      회나무로13길
골목상권  90.0   0.0      231388058.0      효창원로39길
골목상권  127.0  21.0     277169594.0      후암로28길
골목상권  61.0   0.0      201004295.0      고산자로6길
골목상권  39.0   0.0      182191459.0      금호산2길
골목상권  69.0   0.0      200790347.0      금호산길
골목상권  23.0   9.0      451650381.0      둘레9길
골목상권  15.0   144.0    318029114.0      뚝섬로5길
골목상권  10.0   0.0      140662018.0      마장로27길
골목상권  7.0    0.0      261575022.0      마장로39길
골목상권  20.0   0.0      228218098.0      마조로16길
골목상권  26.0   0.0      149740447.0      마조로1길
골목상권  9.0    1530.0   599287898.0      매봉길

# 문제 2 시작

In [56]:
yesterday=[

    ["Yesterday 어제는"],

    ["All my troubles seemed to far away 내 모든 문제들이 참 멀리 있는 것 같았는데"],

    ["Now it looks as though they're here to stay 이제는 그 모든 문제들이 여기에 있는 것처럼 보여"],

    ["Oh, I believe in yesterday 오, 어제가 좋았는데"],

    ["Suddenly 갑자기 그-림-자-가 2021 그-림-자-가 2021"],

    ["I'm not half the man I used to be 난 예전 내 모습의 반도 못한 사람이 되어버렸어"],

    ["There's a shadow hanging over me 내 위에 그림자가 드리워져 있네"],

    ["Oh!, yesterday came suddenly 오!, 이제는 너무 갑자기 와버렸어.."],

]

In [69]:
myRdd2=spark.sparkContext.parallelize(yesterday)
sentences=myRdd2.reduce(lambda x,y:x+y)

In [93]:
myRdd2=spark.sparkContext.parallelize(sentences)
countWord = myRdd2\
    .flatMap(lambda x:x.split())\
    .map(lambda x:(x,1))\
    .reduceByKey(lambda x,y:x+y)\
    .map(lambda x:(x[1],x[0]))\
    .sortByKey(True)\
    .map(lambda x:(x[1],x[0]))

# 문제 2-1의 답

In [94]:
countWord.collect()

[('Yesterday', 1),
 ('어제는', 1),
 ('All', 1),
 ('my', 1),
 ('troubles', 1),
 ('seemed', 1),
 ('far', 1),
 ('away', 1),
 ('참', 1),
 ('멀리', 1),
 ('것', 1),
 ('같았는데', 1),
 ('Now', 1),
 ('it', 1),
 ('looks', 1),
 ('as', 1),
 ('though', 1),
 ("they're", 1),
 ('here', 1),
 ('stay', 1),
 ('그', 1),
 ('여기에', 1),
 ('것처럼', 1),
 ('보여', 1),
 ('Oh,', 1),
 ('believe', 1),
 ('in', 1),
 ('오,', 1),
 ('어제가', 1),
 ('좋았는데', 1),
 ('Suddenly', 1),
 ("I'm", 1),
 ('not', 1),
 ('half', 1),
 ('the', 1),
 ('man', 1),
 ('used', 1),
 ('be', 1),
 ('난', 1),
 ('예전', 1),
 ('모습의', 1),
 ('반도', 1),
 ('못한', 1),
 ('사람이', 1),
 ('되어버렸어', 1),
 ("There's", 1),
 ('a', 1),
 ('shadow', 1),
 ('hanging', 1),
 ('over', 1),
 ('me', 1),
 ('위에', 1),
 ('그림자가', 1),
 ('드리워져', 1),
 ('있네', 1),
 ('Oh!,', 1),
 ('came', 1),
 ('suddenly', 1),
 ('오!,', 1),
 ('너무', 1),
 ('와버렸어..', 1),
 ('모든', 2),
 ('문제들이', 2),
 ('있는', 2),
 ('이제는', 2),
 ('I', 2),
 ('yesterday', 2),
 ('갑자기', 2),
 ('그-림-자-가', 2),
 ('2021', 2),
 ('to', 3),
 ('내', 3)]

In [102]:
countFreqWord=countWord.filter(lambda x:x[1]>1)\
            .map(lambda x:(x[1],x[0]))\
            .sortByKey(False)\
            .map(lambda x:(x[1],x[0]))

# 문제 2-2의 답

In [371]:
countFreqWord.collect()

[('to', 3),
 ('내', 3),
 ('모든', 2),
 ('문제들이', 2),
 ('있는', 2),
 ('이제는', 2),
 ('I', 2),
 ('yesterday', 2),
 ('갑자기', 2),
 ('그-림-자-가', 2),
 ('2021', 2)]

In [378]:
characters = ['-','!']
string = []
for i in sentences:
    strin = i.replace('-',"")
    strin = strin.replace('!',"")
    strin = strin.upper()
    strin = strin.replace('2021',"")
    string.append(strin)
string

['YESTERDAY 어제는',
 'ALL MY TROUBLES SEEMED TO FAR AWAY 내 모든 문제들이 참 멀리 있는 것 같았는데',
 "NOW IT LOOKS AS THOUGH THEY'RE HERE TO STAY 이제는 그 모든 문제들이 여기에 있는 것처럼 보여",
 'OH, I BELIEVE IN YESTERDAY 오, 어제가 좋았는데',
 'SUDDENLY 갑자기 그림자가  그림자가 ',
 "I'M NOT HALF THE MAN I USED TO BE 난 예전 내 모습의 반도 못한 사람이 되어버렸어",
 "THERE'S A SHADOW HANGING OVER ME 내 위에 그림자가 드리워져 있네",
 'OH, YESTERDAY CAME SUDDENLY 오, 이제는 너무 갑자기 와버렸어..']

In [379]:
myRdd2=spark.sparkContext.parallelize(string)

countWord = myRdd2\
    .flatMap(lambda x:x.split())\
    .map(lambda x:(x,1))\
    .reduceByKey(lambda x,y:x+y)\
    .map(lambda x:(x[1],x[0]))\
    .sortByKey(True)\
    .map(lambda x:(x[1],x[0]))

countFreqWord=countWord.filter(lambda x:x[1]>1)\
            .map(lambda x:(x[1],x[0]))\
            .sortByKey(False)\
            .map(lambda x:(x[1],x[0]))

# 문제 2-3의 답

In [386]:
countFreqWord.collect()

[('YESTERDAY', 3),
 ('TO', 3),
 ('내', 3),
 ('그림자가', 3),
 ('모든', 2),
 ('문제들이', 2),
 ('있는', 2),
 ('이제는', 2),
 ('OH,', 2),
 ('I', 2),
 ('오,', 2),
 ('SUDDENLY', 2),
 ('갑자기', 2)]

# 문제 2-4의 답

In [394]:
countWord.filter(lambda x:x[1]>1)\
            .map(lambda x:(x[1],x[0]))\
            .sortByKey(False)\
            .map(lambda x:(x[1],x[0]))\
            .filter(lambda x:len(x[0])>1)\
            .collect()

[('YESTERDAY', 3),
 ('TO', 3),
 ('그림자가', 3),
 ('모든', 2),
 ('문제들이', 2),
 ('있는', 2),
 ('이제는', 2),
 ('OH,', 2),
 ('오,', 2),
 ('SUDDENLY', 2),
 ('갑자기', 2)]

# 문제 3 시작

In [333]:
import os
fname=os.path.join('data','서울특별시 코로나19 자치구별 확진자 발생동향.json')
with open(fname, "r", encoding="utf-8") as f:
    data = json.load(f)
_data=data['DATA']

In [334]:
covidRdd=spark.sparkContext.parallelize(_data)

In [335]:
covidDf=spark.createDataFrame(covidRdd)
covidDf.printSchema()

root
 |-- ddm: string (nullable = true)
 |-- ddmadd: string (nullable = true)
 |-- dobong: string (nullable = true)
 |-- dobongadd: string (nullable = true)
 |-- dongjak: string (nullable = true)
 |-- dongjakadd: string (nullable = true)
 |-- ep: string (nullable = true)
 |-- epadd: string (nullable = true)
 |-- etc: string (nullable = true)
 |-- etcadd: string (nullable = true)
 |-- gangbuk: string (nullable = true)
 |-- gangbukadd: string (nullable = true)
 |-- gangdong: string (nullable = true)
 |-- gangdongadd: string (nullable = true)
 |-- gangnam: string (nullable = true)
 |-- gangnamadd: string (nullable = true)
 |-- gangseo: string (nullable = true)
 |-- gangseoadd: string (nullable = true)
 |-- geumcheon: string (nullable = true)
 |-- geumcheonadd: string (nullable = true)
 |-- guro: string (nullable = true)
 |-- guroadd: string (nullable = true)
 |-- gwanak: string (nullable = true)
 |-- gwanakadd: string (nullable = true)
 |-- gwangjin: string (nullable = true)
 |-- gwangjinadd: string (nullable = true)
 |-- jcg_dt: string (nullable = true)
 |-- jongno: string (nullable = true)
 |-- jongnoadd: string (nullable = true)
 |-- junggu: string (nullable = true)
 |-- jungguadd: string (nullable = true)
 |-- jungnang: string (nullable = true)
 |-- jungnangadd: string (nullable = true)
 |-- mapo: string (nullable = true)
 |-- mapoadd: string (nullable = true)
 |-- nowon: string (nullable = true)
 |-- nowonadd: string (nullable = true)
 |-- sdm: string (nullable = true)
 |-- sdmadd: string (nullable = true)
 |-- seocho: string (nullable = true)
 |-- seochoadd: string (nullable = true)
 |-- seongbuk: string (nullable = true)
 |-- seongbukadd: string (nullable = true)
 |-- seongdong: string (nullable = true)
 |-- seongdongadd: string (nullable = true)
 |-- songpa: string (nullable = true)
 |-- songpaadd: string (nullable = true)
 |-- work_dttm: long (nullable = true)
 |-- yangcheon: string (nullable = true)
 |-- yangcheonadd: string (nullable = true)
 |-- ydp: string (nullable = true)
 |-- ydpadd: string (nullable = true)
 |-- yongsan: string (nullable = true)
 |-- yongsanadd: string (nullable = true)

# 문제 3-1 답

In [336]:
# 전체 데이터 수

print("전체 데이터 수: ",len(covidDf.toPandas()))

전체 데이터 수:  628

In [346]:
# 결측값이 존재하는 row를 제거한 후, 결측값 개수출력

from pyspark.sql.functions import isnan, when, count, col
_coivdDf = covidDf.toPandas().dropna()
covidDf=spark.createDataFrame(_coivdDf)
covidDf.select([count(when(col(c).isNull(), c)).alias(c) for c in covidDf.columns]).show()

+---+------+------+---------+-------+----------+---+-----+---+------+-------+----------+--------+-----------+-------+----------+-------+----------+---------+------------+----+-------+------+---------+--------+-----------+------+------+---------+------+---------+--------+-----------+----+-------+-----+--------+---+------+------+---------+--------+-----------+---------+------------+------+---------+---------+---------+------------+---+------+-------+----------+
|ddm|ddmadd|dobong|dobongadd|dongjak|dongjakadd| ep|epadd|etc|etcadd|gangbuk|gangbukadd|gangdong|gangdongadd|gangnam|gangnamadd|gangseo|gangseoadd|geumcheon|geumcheonadd|guro|guroadd|gwanak|gwanakadd|gwangjin|gwangjinadd|jcg_dt|jongno|jongnoadd|junggu|jungguadd|jungnang|jungnangadd|mapo|mapoadd|nowon|nowonadd|sdm|sdmadd|seocho|seochoadd|seongbuk|seongbukadd|seongdong|seongdongadd|songpa|songpaadd|work_dttm|yangcheon|yangcheonadd|ydp|ydpadd|yongsan|yongsanadd|
+---+------+------+---------+-------+----------+---+-----+---+------+-------+----------+--------+-----------+-------+----------+-------+----------+---------+------------+----+-------+------+---------+--------+-----------+------+------+---------+------+---------+--------+-----------+----+-------+-----+--------+---+------+------+---------+--------+-----------+---------+------------+------+---------+---------+---------+------------+---+------+-------+----------+
|  0|     0|     0|        0|      0|         0|  0|    0|  0|     0|      0|         0|       0|          0|      0|         0|      0|         0|        0|           0|   0|      0|     0|        0|       0|          0|     0|     0|        0|     0|        0|       0|          0|   0|      0|    0|       0|  0|     0|     0|        0|       0|          0|        0|           0|     0|        0|        0|        0|           0|  0|     0|      0|         0|
+---+------+------+---------+-------+----------+---+-----+---+------+-------+----------+--------+-----------+-------+----------+-------+----------+---------+------------+----+-------+------+---------+--------+-----------+------+------+---------+------+---------+--------+-----------+----+-------+-----+--------+---+------+------+---------+--------+-----------+---------+------------+------+---------+---------+---------+------------+---+------+-------+----------+

In [347]:
# 결측값 제거 후 전체 결측값의 개수 출력

print("전체 데이터 수:\n",covidDf.toPandas().isnull().sum())

전체 데이터 수:
 ddm             0
ddmadd          0
dobong          0
dobongadd       0
dongjak         0
dongjakadd      0
ep              0
epadd           0
etc             0
etcadd          0
gangbuk         0
gangbukadd      0
gangdong        0
gangdongadd     0
gangnam         0
gangnamadd      0
gangseo         0
gangseoadd      0
geumcheon       0
geumcheonadd    0
guro            0
guroadd         0
gwanak          0
gwanakadd       0
gwangjin        0
gwangjinadd     0
jcg_dt          0
jongno          0
jongnoadd       0
junggu          0
jungguadd       0
jungnang        0
jungnangadd     0
mapo            0
mapoadd         0
nowon           0
nowonadd        0
sdm             0
sdmadd          0
seocho          0
seochoadd       0
seongbuk        0
seongbukadd     0
seongdong       0
seongdongadd    0
songpa          0
songpaadd       0
work_dttm       0
yangcheon       0
yangcheonadd    0
ydp             0
ydpadd          0
yongsan         0
yongsanadd      0
dtype: int64

# 문제 3-2의 답

In [349]:
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType, IntegerType

calTotUdf = udf(lambda x,y,z: int(x)+int(y)+int(z), FloatType())

covidDf.select(covidDf['jongno'],covidDf['mapo'],covidDf['yongsan'])\
    .withColumn('tot',calTotUdf(covidDf['jongno'],covidDf['mapo'],covidDf['yongsan']))\
    .show()

+------+----+-------+----+
|jongno|mapo|yongsan| tot|
+------+----+-------+----+
|  2036|4191|   3076|null|
|  2023|4176|   3064|null|
|  2008|4164|   3055|null|
|  1989|4157|   3049|null|
|  1977|4134|   3041|null|
|  1968|4127|   3031|null|
|  1958|4121|   3023|null|
|  1949|4112|   3006|null|
|  1925|4102|   2995|null|
|  1900|4082|   2976|null|
|  1879|4060|   2957|null|
|  1865|4035|   2938|null|
|  1853|4023|   2916|null|
|  1842|4012|   2906|null|
|  1831|3994|   2878|null|
|  1816|3969|   2853|null|
|  1785|3935|   2840|null|
|  1760|3911|   2825|null|
|  1745|3889|   2814|null|
|  1733|3869|   2805|null|
+------+----+-------+----+
only showing top 20 rows

# 문제 3-3의 답

In [331]:
covidDf.select(covidDf['jcg_dt'],covidDf['jongno'])\
    .where(covidDf.jcg_dt.like("2020.03%"))\
    .show()

+-------------+------+
|       jcg_dt|jongno|
+-------------+------+
|2020.03.31.10|    13|
|2020.03.30.10|    13|
|2020.03.29.10|    13|
|2020.03.28.10|    13|
|2020.03.27.00|    13|
|2020.03.26.00|    13|
|2020.03.25.00|    13|
|2020.03.24.00|    12|
|2020.03.23.00|    11|
|2020.03.22.00|    11|
|2020.03.21.00|    11|
|2020.03.20.00|    11|
|2020.03.19.00|    11|
|2020.03.18.00|    11|
|2020.03.17.10|    11|
|2020.03.16.10|    11|
|2020.03.15.10|    11|
|2020.03.14.10|    11|
|2020.03.13.10|    11|
|2020.03.12.10|    11|
+-------------+------+
only showing top 20 rows

# 문제 3-4의 답

In [348]:
from pyspark.sql.types import StringType
from pyspark.sql import functions as F

sliceYear = udf(lambda x:x[:4], StringType())
sliceMonth = udf(lambda x:x[5:7], StringType())

temp = covidDf.withColumn('year',sliceYear(covidDf['jcg_dt']))\
            .withColumn('month',sliceMonth(covidDf['jcg_dt']))\
            .groupBy('month').pivot('year').sum()\
            .drop('20').show()

temp.withColumn('year', covidDf['year'].cast("integer"))\
    .withColumn('month', covidDf['month'].cast("integer"))

+-----+---------------+---------------+
|month|           2020|           2021|
+-----+---------------+---------------+
|   07|5.0229172869E13|5.0419339301E13|
|   11| 4.860887697E13|           null|
|   01|           null|5.0229172869E13|
|   09| 4.860887697E13|4.8952317052E13|
|   05|5.0229172869E13| 5.187804198E13|
|   08|5.0229172869E13|5.0502369731E13|
|   03|5.0229172869E13|5.0229172869E13|
|   02| 3.240591798E12|4.5368285172E13|
|   06| 4.860887697E13|   4.8713853E13|
|   10|5.0229172869E13|3.7582770554E13|
|   12|5.0229172869E13|           null|
|   04| 4.860887697E13| 4.860887697E13|
|     |           null|           null|
+-----+---------------+---------------+

AttributeError: 'NoneType' object has no attribute 'withColumn'